$color1: #FCFFFD;
$color2: #DAFFEF;
$color3: #C0FDFB;
$color4: #64B6AC;
$color5: #5D737E;

.navbar.navbar-default.ember-view {
  background-color: $color4;
  border: none;
  text-transform: uppercase;
  font-family: Cantarell;
  font-size: 16px;
  li a {
    color: $color2;
    border-bottom: 1px solid $color4;
    transition: border-bottom 0.5s ease;
    &:hover {
      color: $color1;
      border-bottom: 1px solid $color1;
    }
    &:focus {
      color: $color1;
    }
  }
  li.active a {
    font-weight: 900;
    background-color: $color4;
    color: $color1;
  }
}

body {
  background-color: $color4 !important;
}

@import "ember-bootstrap/bootstrap";
