<div class="container">
  <h2>Configurações</h2>

  <div class="form-group">
    <label> Alterar Token: </label>
    <input class="form-control" value={{currentMonitor.token}}
    oninput={{action 'updateToken' value='target.value'}}>
  </div>

  <button {{action 'save'}} class="button-offset-top">
    Save
  </button>

  {{#if saveMessage}}
    <div class="alert alert-success">
      Token alterado.
    </div>
  {{/if}}

</div>
