{{#each model as |temperature|}}
  <tr>
    <td>
      {{temperature.owner}}
    </td>
    <td>
      {{temperature.created}}
    </td>
    <td>
      {{temperature.temperature}}
    </td>
    <td>
      {{temperature.is_critical}}
    </td>
  </tr>
{{/each}}
