<div class="form-container">
  <form {{action 'authenticate' on='submit'}}>
    <h2>Login</h2>
    {{input id='username' placeholder='Enter Login' value=username}}
    {{input id='password' placeholder='Enter Password' type='password' value=password}}
    <button type="submit">
      Login
    </button>

    {{#link-to 'signup'}}
      Signup
    {{/link-to}}

    {{#if error}}
      <p>
        <div class="alert alert-danger">Invalid username or password.</div>
      </p>
    {{/if}}
  </form>
</div>
